$title: 'Pacifico', cursive;
$body: 'Alatsi', sans-serif;

// text sizes
$body-size: '12px';
$title-size: '40px';

// colour palette
$yellow: #f8b920;
$light-grey: #e4e4e4;
$white: #ffffff;
$almost-white: #fafafa;
$dark-grey: #312b2b;
$background: #f6f6f6;
$gradient: linear-gradient(to right, rgba(253,218,53,1), rgba(246,179,26,1));  
$gradient-white: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(252, 250, 250, 1)); 

