@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
@import "../node_modules/bulma/sass/utilities/functions";
@import '../node_modules/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css';

@import './_variables';
@import  './components/hamburger.scss';
@import './components/signOutModal.scss';
@import './components/searchPage.scss';
@import './components/nav.scss';
@import './components/release.scss';
@import './components/home.scss';
@import './components/tutorial.scss';
@import './components/filters.scss';
@import './components/forms.scss';
@import './components/collection.scss';

// Update BULMA defaults
$primary: $yellow;

.data-tooltip {
    font-size: 1rem !important  ;
}

// MODE OVERLAY
@keyframes modeOver {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.mode-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    i {
        animation: modeOver 0.35s linear forwards;
        font-size: 5rem;
        color: #fff;
    }
}

// DARK MODE TOGGLE
.is-dark-mode {
    color: #fff !important;
    background: #171717 !important;

    h1, h2, h3, h4, h5, p {
        color: #fff;
    }

    .navbar {
        background-color: #292929;

        .navbar-brand {
            #nav-home-logo {
                color: #fff;
            }
        }
    }

    .control-bar {
        background-color: #292929;
        .button {
            box-shadow: none;
        }
        i {
            color: #fff;
        }
    }

    .myModal {
        background: #292929 !important;

        .signOut-modal {
            .content {
                .signOutModal {
                    .modal-text-container {
                        background-color: #292929;

                        .sign-out-button-wrapper {
                            .button {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

        .help-modal {
            .content {
                .modal-text-container {
                    background-color: #292929;
                }
            }
        }

        .release-modal {
            background: #292929 !important;

            .content {
                background: #292929 !important;

                .modal-text-container {
                    background: #292929 !important;

                    .button {
                        box-shadow: none;
                    }

                    .release-button-container {
                        .button {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }

    .home-columns {
        .text-column {
            .main-text {
                #see-more-btn {
                    box-shadow: none;
                }
            }
        }

        .img-column {
            .svg-wrapper {
                .home-wave {
                    filter: brightness(0.7);
                }
            }
        }
    }

    .tutorialDiv {
        background: #292929;
        p {
            color: #fff !important;

        }
    }

    .navbar {
        .navbar-end {
            .level {
                .hamburger {
                    color: #fff !important;
                }
            }
        }
    }

    .page-content {
        background: #171717;
        color: #fff;

        .columns {
            .signInColumn {
                .form-wrapper {
                    background-color: #292929;
                    .inline-form {
                        .field {
                            .control {
                                .input {
                                    background: #171717;
                                    border: none;
                                    color: #fff;
                                }
                                .input::placeholder {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .sign-in-container {
            .form-wrapper {
                background-color: #292929;

                .inline-form {
                    .field {
                        .control {
                            .input {
                                background-color: #171717;
                                border: none;
                                color: #fff;
                            }
                            .input::placeholder {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .control-bar {
            background: #292929 !important;
           
            .size-slider {
                label {
                    color: #fff !important;
                }
            }

            a {
                color: #fff !important;
            }
        }
    }

    .burger-div {
        background: #171717 !important;

        .hamburger-content {
            .burger-link {
                i {
                    div {
                        background-color: #414141;
                    }
                }
            }
        }

        .burger-footer {
            a {
                color: #fff !important;
            }
        }
    }
}

// Body background
html {
    background-color: $background;

}
body { 
    height: 100vh;
    margin: 0px;
    padding: 0px;   
    transition: 0.2s;
    font-family: $body;
}

// APP
#app {
    width: 100%;
    min-height: 100%;
    position: absolute;
    transition: all 0.3s ease;
    top: 0;
  }

.input {
    border-radius: 25px;
    border: 2px solid $light-grey;
    width: 500px;
    height: 40px;
    font-family: $body;
    font-size: 20px;
}

.container {
    justify-content: center;
    width: 100%;
}


// LOADING ICON

.loading-wrapper {
    position: fixed;
    left: 0; 
    right: 0; 
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: $body;
}

.button {
    background-image: linear-gradient(to right, #f8b920 0%, #EDDE5D  51%, #f8b920  100%)
}

.button {
    font-family: $body;
    font-weight: normal;
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
/*    text-transform: uppercase;
 */   text-shadow: 5px 5px 0.8rem rgba(0,0,0,0);
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   box-shadow: 0 0 20px #eee;
   border-radius: 25px;
   border: none;
 }

 .button:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }



.error-container {
    height: 100vh;
    text-align: center;
    .level {
        height: 100vh;
        text-align: center;
    }
}

#start-btn {
    margin-top: 15px;
}
// Columns


.about-column {
    height:100vh;
}

.img-column {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    .level {
        height: 100vh;
    }
    
}


#about-page {
    font-size: 300px;
}

.about-title {
    font-size: 1.8rem;
    margin-bottom: 25px;
}

#myData {
    width: 100%;
    height: auto;   
}

// BROWSER PAGE

.page-content
{
    .title {
        margin-top: 200px;
    }
}


.cover-img {
    width: 250px;
    height: 250px;
    display: inline-block;
    flex-grow: 1;
    z-index: 1;
    transition: 0.2s;
    box-shadow: 2px 2px 10px 2px;
}

.cover-img:hover {
    opacity: 0.5;
    filter: brightness(20%);
}

.release-box {
    text-align: center;
    justify-content: center;

}

.release-box p {
    display: none;
    position: absolute;
}

.release-box:hover p{
    display: block;
}

.release-box:hover button {
    display: inline;
}

.release-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2% 2%;
}

.release-container::after {
    content: "";
    display: flex;
    justify-content: flex-start;
    cursor: default;
}

.test-btn {
    margin-top: 500px;
}

.release-btn {
    background-image: $white;
    border-radius: 25px;
    border-style: none;
    color: $white;
    font-family: $body;
    padding: 20px;
    position: relative;
    right: 50%;
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

 .page-main-title {
    text-transform: capitalize;
    font-size: 1.5em;
    position: absolute;
    left: 2%;
    display: flex;
    align-items: center;

    img {
        height: 30px;
        margin-right: 15px;
    }

} 

// MODAL
.myModal {
    display: flex;
    z-index: 10;
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    overflow-y: auto;
    overflow-x: auto;
    backdrop-filter: blur(1px);
    justify-content: center;
    text-align: center;
  }
  
  div.signOut-modal {
    text-align: center;
    width: 100%;
  }
  
  .modal-content {
    padding: 2em;
  }

  .mobile-main-img {
      display: none;
  }

  .mobile-svg {
      display: none;
  }
  
  .modal-close-btn {
    position: absolute;
    right: 10px;
    display: inline-block;
    text-align: center;
    background: transparent;
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
    font-size: 3rem;
    z-index: 50;
    color: #ff5252;
    line-height: 100%;
  }


  
  .modal-close-btn:hover {
    color: #ff5252;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    z-index: 6;
  }

.text-center {
    text-align: center;
}


.search-icon {
    top: -3px !important;
}

.searchBar {
    margin-left: 50px;
    left: 15%;
}

.branding {
    z-index: 2;
}

// NOTIFY COMPONENT
#notifications {
    position: fixed;
    z-index: 100;
}

.notification-entry {
    background-color: $white;
    border-radius: 5px;
    z-index: 1000;
    position: relative;
    left: 20px;
    top: 100px;
    padding: 10px 20px 10px;
    margin: 10px 0;
    max-width: calc(100vw - 40px);
    filter: drop-shadow(0 0 0.75rem rgba(0,0,0, 0.2));
    color: $dark-grey;
    font-family: $body;

    b { 
        color: $yellow;
    }
}


// 404 Page
@keyframes errimgintro {
    0% {
        transform: translateY(20%);
        transform: translateX(0%);
        opacity: 25%;
    }
    100% {
        transform: translateY(0%);
        transform: translateX(-20%);
        opacity: 100%;
    }
}

.errColumns {
    height: 100vh;
    .errTitle {
        font-family: $body;
        font-size: 100px;
        margin-right: 20px;
    }


    h2 {
        font-family: $body;
        font-size: 50px;
    }
    img {
        transform: translateX(-20%);
        width: 70%;
        filter: drop-shadow(5px 5px 20px #000000);
        animation: 0.5s ease-in-out 0s 1 errimgintro;
    }
}


// MEDIA QUERY
@media screen and (max-width: 1024px) {

/*     .text-column {
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 0;
        margin: 0;  
        font-size: 5px;
        float: left;
    } */
    

    .text-column {
        height: calc(100vh - 62px);
    }

    .main-img {
        width: 40vw;
    }




    #brand-logo {
        display: flex;
        margin: 0px;
        pointer-events: none;
    }

    #brand-text {
        display: none;
    }


    .img-column {
        height: 20vh;
        justify-content: center;
    }

    svg {
        transform: rotate(0deg);
    }

}

.signInColumn {
    height: 100vh;
    width: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
}

@keyframes formEntry {
    0% {
        transform: translateY(40%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.about-content {
    padding: 1rem;
    text-align: left;
    justify-content: flex-start;

    .head {
        margin-bottom: 35px;
    }

    .modal-text-container {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }

    .about-socials {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        a {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {

    .myModal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        
        .modal-images:hover {
            .release-image-modal {
                transform: none;
           }
           .release-image-format {
                transform: none;
            }
           .release-image-format-slide {
                transform: none;
            }
        }

        .modal-images:active {
            .release-image-modal {
                transform: translateX(-75px);
           }
           .release-image-format {
               transform: translateX(75px) rotateZ(360deg);
           }
           .release-image-format-slide {
               transform: translateX(75px);
           }
        }

        .modal-close-btn {
            top: 0;
        }

        .help-modal {
            width: 90vw;
            margin: auto;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            top: 20%;
            border-radius: 25px;
            margin-top: auto;
            border-radius: 25px;

            .modal-text-container {
                border-radius: 25px;
            }
        }

        .about-content {

            .modal-text-container {
                border-radius: 25px;

            }
        }

    }




    .hamburger {
        display: flex;
    }

    .burger-div {
        position: fixed;
        height: 80vh;
        top: 72px;
        width: 80vw;
    }

    .profile-container {
        align-items: flex-start !important;
    }
    
    
    .profile-img {
        width: 200px;
        margin: 0 !important;
    }

    // PAGE TITLE
    .page-main-title {
        font-size: 1rem;
    }

    // HOME 
    .home-columns {
        width: 100%;
    }

    // NOTIF
    #notifications {
        margin: 0 auto;
    }

    // Hide logo
    .Rlogo {
        display: none;
    }

    #nav-home-logo {
        display: inline-flex;
        align-items: center;
        margin-right: 12px;
    }

    // SIgn out modal
    div.signOut-modal {
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        margin: auto;

        .content {
            .signOutModal {
                height: 100vh;

                .modal-text-container {
                    height: 100%;
                }
            }
        }
      }

    // FILTERS POPUP
    .filterDiv {
        top: 122px !important;
        height: fit-content;
        padding: 30px 0;
        background-color: $dark-grey;

        .filter-content {
            flex-direction: column;
            align-items: flex-end;
            padding-right: 15px;
            justify-content: space-evenly;
            padding-left: 10px;
            height: fit-content;

            select {
                margin: 5px 0;
                width: 50vw;
            }
        }
    }

    // QR BUTTON
    .QR-button {
        background: none;
        width: auto;
        padding: 0;
        justify-self: flex-start;
        p {
            display: none;
        }

        i {
            color: $dark-grey;
            font-size: 2rem;
        }

/*         label {
            display: block;
            color: #4a4a4a;
            margin-right: 10px;
        } */
    }

    // SEARCHBAR
    .searchBar {
        margin: 0;
        width: 80%;
        left: 0;
        right: 0;
    }

    .searchInput {
        width: 100%;
    }
    .searchInput:hover {
        width: 100%;
    }
    .searchInput:focus {
        width: 100%;
    }

    // TUTORIAL
    .tutorialDiv {
        width: 250px;
        font-size: 1rem;
        text-align: center;
        margin: auto;
        top: 82px !important;
        right: 0;
        left: 0 !important;
    }

    // MORE INFO ON HOME PAGE
    #start-btn {
        font-size: 1.2rem;
    }
    .more-info-text {
        width: 80vw;
        position: relative;
        top: 0;
        align-self: flex-start;
        justify-self: flex-start;
    }

    // SIGN IN PAGE
    .signIn-bg {
        display: none;
    }

    .sign-in-container, .signInColumn {
        padding: 0 !important;
        height: calc(100vh - 62px);
        position: absolute;
        bottom: 0;
        box-shadow: none;
        filter: none;
        width: 100vw;
        right: 0;


        .form-wrapper {
            position: absolute;
            display: inline-block;
            width: 100vw;
            height: calc(100vh - 62px);
            border-radius: 0px;
            top: 0;
/*             top: 142px;
 */

            h1 {
                text-align: center;
                font-size: 15vw;
            }
            
            #form-sign-in {
                margin-top: 5%;

                .signIn-btn {
                    width: 80vw;
                }
                .field {
                    width: 80vw;
                }

                .field:last-of-type {
                    position: relative;
                    margin-top: 30px;
                }

            }
            
            .form-img {
                top: 0;
                position: relative;
                border-radius: 0px;
                width: 100vw;
            }
        }
    }

/*     
    .myModal {
        top: 526px !important;
        border-radius: 0;
    } */

    // COLLECTION PAGE
    .cd-container, .cassette-container, .digital-container, .vinyl-container {
        justify-content: space-evenly;
    }

    .control-bar {
        height: 50px;
        width: 100%;
        padding: 10px 20px 10px 25px;

        .filters-icon-wrapper {
            height: 25px;
        }

        .size-slider {
            display: none;
            label {
                display: none;
            }
        }
    }

    // RELEASE/COLLECTION MODAL

    .myModal {
        top: 72px !important;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;

    }

    .modal-images:active {
        .release-image-modal {
             transform: none;
        }
        .release-image-format {
            transform: none;
        }
        .release-image-format-slide {
            transform: none;
        }
        
    }

    .modal-images:active {
        .release-image-modal {
             transform: translateX(-75px);
        }
        .release-image-format {
            transform: translateX(75px) rotateZ(360deg);
        }
        .release-image-format-slide {
            transform: translateX(75px);
        }
        
    }

    .release-mouseover, .release-modal {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
/*         grid-template-rows: calc(50vh - 32px) calc(50vh - 32px);
 */        
        width: 100vw;
        height: calc(100vh - 62px);
        min-width: 100vw !important;

        .content {
            min-width: auto;
        }

        .modal-top-content {
            min-width: 100vw;
            grid-row-start: 1;
            grid-row-end: 2;
            border-radius: 0;
/*             max-height: 35vh; */

            .modal-image-container {
                padding: 0;
/*                 max-height: 35vh;
 */
                .format-dropdown {
                    margin-bottom: 8px;
                }
                .modal-images {
                    height: 40vh;
                    margin-bottom: 0;

                    .release-image-format {
                        width: 250px !important;
                        height: 250px !important;
                    }
                    .release-image-format-slide {
                        width: 250px !important;
                        height: 250px !important;
                    }
                    .release-image-modal {
                        width: 250px;
                        height: 250px;
                    }
                }
            }
        }

        .modal-text-container {
            padding-top: 10px;
            justify-content: flex-start;
            grid-row-start: 2;
            grid-row-end: 3;
            justify-self: start;

            .release_artist {
                font-size: 12vw;
            }
        }

    }

    .release-button-container {
        flex-wrap: wrap;

        .button {   
            text-align: center;
            height: 50px;
            padding: 0 15px;
            
            i {
                font-size: 1.5rem;
                text-align: center;
                margin-right: 10px;

            }

            .fa-heart {
                color: tomato;
            }

            .fa-check {
                color: #4ba363;
            }


         }
    }

    .myModal {
        overflow: hidden;
    }

    .release-modal-more-info {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 50;
        background-color: rgba(0,0,0,0.9);
        backdrop-filter: blur(5px);
        font-size: 1.5rem;
        padding-left: 5%;
        min-width: 100%;
        text-align: center;

        h3 {
            font-size: 2rem;
        }

        ul {
            li {
                b {
                    font-size: 1.8rem;
                }
            }
        }

        h3 {
            text-align: center;
        }
    }


    #home-page {
        .columns {
            max-height: 100%;
        }
    }

    .main-text {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 90vw;
        height: 60vh;

        .main-title {
            font-size: 2rem;
        }

        a {
            width: 50vw;
            margin: 0 auto;
        }
    }

    #see-more-btn {
        font-size: 1.2rem;
        width: auto;
        margin-top: auto;
        margin-bottom: 10%; 
        position: fixed;
        bottom: 50px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: fit-content;
    }

    .navbar {
        width: 100%;    
        background-color: #fff;
    }

    .navbar-end {
        .level {
            #collectionBtn {
                display: none
            }
            #signInBtn {
                display: none;
            }
            
            #wishlistBtn {
                display: none;
            }
        }
    } 
    .release-entry {
        height: auto;
        width: 40vw;
        margin: 0;
    }

    .release-entry:hover {
        .content {
            display: none;
        }
    }
    
    #hamburger {
        display: flex;  
        margin-left: 15px;
    }
    .img-column {
        .level {
            display: none;
        }
        .svg-wrapper {
            width: 100vw;
            svg {
                min-width: 100vw;
                transform: rotate(180deg);
                top: 0;
                right: 0;
                height: 30%;
                z-index: 0;
            }
        }
    }
    .mobile-main-img {
        margin-top: 100px;
        display: block;
        text-align: center;
/*         display: flex;
        justify-content: center; */

        img {
            position: relative;

            height: 200px;
        }
    }
    .mobile-svg {
        display: none;
        position: fixed;
        top: 0;
    }
    .text-column {
        position: absolute;
        left: 0;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 0;
        margin: 0;  
        height: auto;
    }

    #brand-logo {
        display: none;
    }

    .navbar-end {
        position: absolute;
        right: 5px;
    }

    .main-img {
        width: 70%;

    }
}

@media screen and (max-height: 890px) {

    .release-modal { 
        .content {
            min-width: auto;
        }
    
    }

    .modal-images {
        .release-image-format, .release-image-format-slide {
            width: 250px !important;
            height: 250px !important;
        }

        
        .release-image-modal {
            width: 250px;
            height: 250px;
        }
    }
}