@import '../_variables.scss';

.filterDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: $yellow;
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.3);
    padding: 10px;

    .filter-content {
        width: 100vw;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    
    .dropdown {
        color: #fff;
        border-style: none;
        background: none;
        font-family: $body;
        font-size: 1rem;
        outline: none;
        position: relative;
        border-bottom: 2px solid #fff;
        line-height: 100%;

        option {
            color: $dark-grey;
        }
    }

    .filter-apply-btn {
        justify-self: flex-start;
        order: 1;
        margin-top: auto;
        
    }

    .filter-close-btn {
        align-self: flex-start;
        font-size: 1rem;
        padding: 15px;
        height: 1rem;
        width: 1rem;
        text-align: center;
        background: tomato;
        color: white !important;
    }

    .filter-close-btn:hover {
        background: red;
    }
}

.filters-icon-wrapper {
    margin-left: 25px;
    font-size: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
    color: $dark-grey;
    height: 30px;
}

#filters-btn {
    height: 100%;
    margin-left: 25px;
    cursor: pointer;
    color: $dark-grey;
    font-size: 1.5rem;
    display: flex;
    place-items: center center;
}
    
.filters-icon-wrapper:hover {
}