@import '../_variables.scss';

.burger-header {
    width: 100%;
    height: 75px;
    background-color: none;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,0.2);    

    h1 {
        margin-left: 20px;
        font-weight: lighter;
        font-family: $body;
        color: black;
        font-size: 1.5rem;
    }

}

.burger-overlay {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(0,0,0,0.5);
    top: 0%;
}



.burger-div {
    right: -20%;
    z-index: 11;
    position: fixed;
    height: calc(100vh - 81px);
    width: 250px;
    top: 81px;    
    background-color: #fff;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.2);

    ul {
        display: flex;
        flex-direction: column;

        #signInBtn-burger {
            font-family: $body;
            font-weight: normal;

            i {
                margin-right: 20px;
            }
        }


        li {
            margin-top: 2vw;
            font-size: 1rem;
            padding: 10px 20px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        li:hover {
            background-color: $yellow;
        }

        a {
            text-decoration: none;
            color: inherit;
            transition: 0.2s;

            i {
                margin-right: 20px;
                font-size: 1rem;
            }
        }

        a:hover {
            font-weight: bold;
        }
    }

    .profile-container {
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

     img {

        margin: 0 auto;
        padding: 40px 30px 10px;
     }

     h2 {
         font-family: $body;
         font-size: 1.2rem;
         cursor: default;
         padding: 10px 0px 0px 10px;
     }
}

.burger-close-btn    {
    position: absolute;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color: $almost-white;   
    border-style: none;
    border-radius: 25px;
    margin: 5px 5px 5px;
    right: 0%;
    top: 0%;
    cursor: pointer;
}   

.burger-footer {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 0%;
    width: 100%;
    height: 75px;
    background-color: $yellow;

    a {
        font-family: $body;
        color:  $white;
        display: flex;
        align-items: center;
        margin-left: 2vw;
        font-size: 1rem;
    }

    i {
        margin-right: 10px;
    }
}

hr {
    height: 1px;
    background-color: $dark-grey;
}