@import '../_variables.scss';

// Nav
.navbar {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    padding: 10px;
    position: sticky;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(3px);
    transition: 0.5s;
    z-index: 7 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;


        .RLogo {
            display: none;
            width: auto;
            padding: 0;
            height: 45px;
        }

        .navbar-end {
            width: auto;
            position: relative;
            transition: 1s;
        }
    
        #signInBtn {
            background-image: none;
            background-color: white;
            color: $dark-grey;
            width: 90px;
            margin-right: 10px;
            box-shadow: none;
        }

        #signInBtn:hover {
            filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.8));
        }

    @keyframes textIntro {
        0% {
            opacity: 0%;
        }
        60% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
    
    #collectionBtn, #wishlistBtn {
        margin: 0 10px;
        transition: 0.5s;
        text-align: center;
        display: flex;
        flex-direction: row;
        padding: 0;

        img {
            min-height: 30px;
        }

        p {
            display: none;
            margin-left: 10px;
            color: black;
        }
    }

    #collectionBtn:hover, #wishlistBtn:hover {
        background: none;
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.8));
    }

    @keyframes btnSpin {
        from {
            transform: translateX(0px) rotate(0deg);
        }
        to {
            transform: translateX(-20px) rotate(270deg);
        }
    }
  }

  .navbarBg {
      background-color: rgba(255,255,255,0.5);;
  }

.nav-title {
    font-family: $title;
    color: $yellow;
    font-weight: 0;
    font-size: 30px;
    transition: 1s;
}

.hamburger {
    color: $dark-grey;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
}

.burger-rotate {
    transform: rotate(90deg);
    color: #fff;
}


.searchInput {
    border: none;
    outline: none;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.2em rgba(0,0,0,0.3));
    background: white;
    width: 450px;
    color:#3b3b3b;
    font-size: 1.2rem;
    font-family: $body;
    transition: 0.2s;
    padding: 10px 10px 10px 15px;
}

.searchInput:focus {
    outline: none;
    width: 480px;
}

.searchInput:hover {
    outline: none;
    width: 480px;
}

.searchBtn {
    background-color: $yellow;
    border-radius: 0px 10px 10px 0px;
    color: white !important;
    height: 2.4rem !important;
    width: 2.5rem !important;
}

#nav-home-logo {
    display: none;
    font-size: 1.9rem;
    color: $dark-grey;

}