// JS ANIMS
@keyframes collectionFadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes releaseEntry {
    from {
        transform: scale(0.4);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

// KEY
.is-active-release {
    animation: releaseEntry 0.2s ease-out forwards;
}

.modal-image-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    flex-shrink: 0;
    flex-grow: 2;
}

.modal-top-content {
    display: flex;
    flex-direction: row-reverse;
}

.hidden {
    display: none !important;
} 

.modal-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-bottom: 15px;


    .release-image-modal {
        animation: imgSpin 0.5s ease-out;
        position: relative;
        box-shadow: 0px 0px 25px black;
        width: 350px;
        height: 350px;
        z-index: 2;
        transition: 0.5s;

    }

    .release-image-format {        
        animation: imgSpin 0.5s ease-out;
        position: absolute;
        transition: 0.5s;
        width: 350px !important;
        height: 350px !important;
        z-index: 1;
        width: 100px;
    }

    .release-image-format-slide {    
        animation: imgSpin 0.5s ease-out;
    
        position: absolute;
        transition: 0.5s;
        width: 350px !important;
        height: 350px !important;
        z-index: 1;
        width: 100px;
    }

    @keyframes spin {
        
        to {
            transform: rotateZ(360deg);
        }
    }
    
    @keyframes slideOut {
        to {
            transform: translateX(30px);
        }
    }

}

.text-based-modal-btns {
    display: inline;

    a {
        margin-left: 10px;
        margin-right: 10px;
    }

}

.format-dropdown {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    width: 150px;
    padding: 0px 0px 5px 8px;
    text-align: left;
    font-size: 1rem;

    .media-format {
        color: black;
        font-size: 1rem;
        font-family: $body;
    }


}

.modal-images:hover, .modal-images:focus, .modal-images:active {
    .release-image-modal {
         transform: translateX(-75px);
    }
    .release-image-format {
        transform: translateX(75px) rotateZ(360deg);
    }
    .release-image-format-slide {
        transform: translateX(75px);
    }
    
}


.modal-text-container {
    background: white;
    padding: 10px 28px 45px 28px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .release_name {
        font-size: 1.7rem;
        margin-top: 1% !important;
        margin-bottom: 0% !important;
    }

    .release_artist {
        font-size: 2rem;
        margin-bottom: 1%;
        margin-top: 3%;
        color: $yellow;
        font-weight: normal;
    }

    h2 { 
        font-weight: normal;
    }

    h3 {
        margin-top: 20px;
    }

    .release_year {
        margin-bottom: 0 !important;
    }

    .category {
        font-size: 1rem;
    }
    
    hr {
        margin: 4px 0;
        width: 40%;
        text-align: center;
        background:rgba(200, 200, 200, 0.9);
    }

    .loader-text {
        height: 40px;
    }

    .release-button-container {
        display: flex;
        margin-bottom: 1%;
        margin-top: 2%;
        justify-content: center;

        button {
            display: flex;
            justify-content: center;

            span {
                text-align: center;

            }
        }

        i {
            color: #fff;
            margin-right: 10px;
        }
    }
}

#searchBtn {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}
    
.format-options {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

// RELEASE DIVS
.release-entry {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 60px;
    opacity: 0;
    transition: 0.5s;
    width: 250px;
    height: 250px;
    border: 3px solid transparent;


    .release-image {
        color: $dark-grey; 
        font-family: $body;
        background-color: $almost-white;
        box-shadow: -8px 8px 3px rgba(0,0,0,0.3);
        text-align: center;
        justify-content: center;
        min-width: 100%;
        max-height: 100%;
        transition: 0.2s;
        margin-bottom: 5px; 
        border-radius: 25px;

    }
    .release-title {
        font-family: $body;
        margin-top: 10px;
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .content {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        transition: 0.5s;
        text-align: center;
        color: white;
        width: 100%;
        padding: 5px;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(2px);
        pointer-events: none;
        margin-bottom: 0;
        opacity: 0;
        border-radius: 25px;

        h3 {
            font-size: 1rem;
            color: white;
            transition: 0.5s;
            font-weight: normal;
        }

    }



}

@keyframes contentEntrance {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
    }
}

.release-entry:hover {

    .release-image {
    transform: translateY(-5px) translateX(5px);
    border-radius: 0;
    }
    
    .content {
        display: none;
        z-index: 1;
        backdrop-filter: brightness(30%) blur(5px);
        animation: contentEntrance 0.2s linear;
        animation-fill-mode: forwards;
        transform: translateY(-5px) translateX(5px);
        border-radius: 0;
    }
    img {
        transition: 0.2s;
        box-shadow: -10px 15px 2px rgba(0,0,0,0.5);


    }
}

.release-modal {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;

    .content {
        min-width: 550px;
    }

}

@keyframes imgSpin {
    0% {
        opacity: 0.5;
        transform: rotateY(180deg) rotateZ(20deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) rotateZ(0deg);
    }
}

.release-modal-more-info {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: left;
    padding: 3% 3%;
    overflow: auto;
    opacity: 0;
/*     transform: translateX(-200px);
 */    min-width: 200px;


    ul {
        list-style-type: none;

        li {
            margin: 10% 0%;

            b {
                font-size: 1.2rem;
            }
        }
    }
}


