@import '../_variables.scss';

.signOutModal {
    button {
        margin: 20px 10px 50px;
    }
    h2 {
        padding: 0px 15px 0px;
    }
}


.signOut-img {
    width: 100%;
}



